body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    
    
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
}


#hobby-message {
    color: blue;
    font-weight: bold;
}



